@font-face {
    font-family: 'OCR';
    src: URL('../lib/OCRAStdRegular.ttf') format('truetype');
    font-style: regular;
  }

body{
    margin: 0;
    padding:0;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../Images/HowToPlay.jpg);
    background-size: cover;
    background-position: center;
}
.InstructionBox {
    width: 320px;
    height: 520px;
    background: linear-gradient(to bottom, #30a900 0%, #00771e 100%);
    color: #fff;
    top: 50%;
    left: 50%; 
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 20px;
}
.InstructionBox h1 {
    font-family: 'OCR';
    font-size: 30;
}
.InstructionBox p {
    font-family: 'OCR';
}

#Back{
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'OCR';
    background-image: linear-gradient(to right, #a5b13d 0%, #959700 100%);
    text-decoration: none;
}
